<div class="hero-unit">
	<h1>Welcome to my first WebApp</h1>
	<p> 
		You've found the Homepage for the 
		<%= link_to "SmartForce.PRO", "http://www.SmartForce.PRO" %>
		Application
	</p>
	<p>
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
